
.sign-up-form {
    text-align: center;
    text-align-last: center;
    height: fit-content;
    width: 250px;
    display: inline-block;
    padding: 30px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;

    -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.37);
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.37);
    background-color: rgba(207, 230, 236, 0.45)  !important;
}

.btnContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}